<!-- Bread crumb-->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 breadcrumb-base no-padding">
                    <div class="col-sm-8 col-xs-4 page-heading">
                        <h4>About Us</h4>
                    </div>
                    <div class="col-sm-4 col-xs-8 breadcrumb-block text-right">
                        <ol class="breadcrumb">
                            <li>You are here:
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">About us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bread crumb end-->
    <!--Services-->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 service-base space">
                    <div class="col-sm-6 service-block">
                        <div class="service-inner">
                            <img src="images/demo-1.png" alt="About">
                            <div class="service-text">
                                <h4>ABOUT OUR COMPANY</h4>
                                <p> We as a team of Designers have accumulated a substantial amount of working knowledge regarding the performance and the requirement of
                                    Glass railings, Only then we have entered the market with our cantilevered design, Assuring no holes in glass.</p>
<ul>
<li>We offer a complete range of products which can be divided into  Wind load requirement of yours</li>
   
                                </ul>
                           
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 service-block">
                        <div class="service-inner">
                            <img src="images/demo-2.png" alt="About">
                            <div class="service-text">
                                <h4>ABOUT OUR WORK</h4>
                              <ul>
                                   <li>Finish to the profile that an architect thinks of</li>
                                  <li>Glass specification that a designer demands for</li>
<li>Also illumination factor can be enhanced based on the requirement of LED lighting into the railing itself</li>
<li>With the patented Technology of holding the glass in place, we are 100% confident of meeting all the standards and parameters required by the facade  industry.</li>
                                </ul>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services end-->

    <div class="Clearfix"></div>

   <!-- Counter -->
<section id="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 counter-base space">
                <!-- Counter block 1 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">263</div>
                    <h4>Completed <span>Projects</span></h4>
                </div>
                <!-- Counter block 2 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">1124</div>
                    <h4>Total <span>Employess</span></h4>
                </div>
                <!-- Counter block 3 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">205</div>
                    <h4>Happy <span>Clients</span></h4>
                </div>
                <!-- Counter block 4 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">15</div>
                    <h4>Current <span>Projects</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end counter -->
<div class="Clearfix"></div>
<br>
    <!-- Team -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-heading text-center col-sm-12">
                        <h2>OUR TEAM</h2>
                        <p>Embedded in our culture of hard work, honesty, and getting the well done job,</p>
                    </div>
                    <div class="col-sm-6 col-md-3 team-block">
                        <div class="team-inner">
                            <img src="images/team-2.jpg" alt="Team">
                            <div class="team-text text-center">
                                <div class="name">John Ride</div>
                                <div class="profession">CEO & Founder</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem</p>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 team-block">
                        <div class="team-inner">
                            <img src="images/team-4.jpg" alt="Team">
                            <div class="team-text text-center">
                                <div class="name">Michale Ross</div>
                                <div class="profession">Architect</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem</p>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 team-block">
                        <div class="team-inner">
                            <img src="images/team-1.jpg" alt="Team">
                            <div class="team-text text-center">
                                <div class="name">Thomas ID</div>
                                <div class="profession">Project Manager</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem</p>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 team-block">
                        <div class="team-inner">
                            <img src="images/team-3.jpg" alt="Team">
                            <div class="team-text text-center">
                                <div class="name">John Wick</div>
                                <div class="profession">Support Manager</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem</p>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team end -->
