<!--Services-->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 no-padding service-title">
                <div class="col-sm-8 col-md-10 heading text-left ">
                    <h3>Construction firm sence 2000. We build your dreams :)</h3>
                </div>
                <div class="col-sm-4 col-md-2 button text-right">
                    <a href="#" class="btn" style="color:#000;" data-toggle="modal" data-target="#myModal">Get a Quote</a>
                </div>
            </div>
            <div class="col-sm-12 service-base space">
                <div class="col-sm-4 service-block">
                    <div class="service-inner">
                        <img src="images/construction1.jpg" alt="Services">
                        <div class="service-text">
                            
                            <h4>DESIGN</h4>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis soll icitudin neque, ve Class aptent taci </p>
                            <a href="#">read more</a>
                        </div>
                        <div class="service-top-btn">
                            <p class="top-btn">Recomemded</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 service-block">
                    <div class="service-inner">
                        <img src="images/work-2.jpg" alt="Services">
                        <div class="service-text">
                            <h4>CONSTRUCTION</h4>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis soll icitudin neque, ve Class aptent taci </p>
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 service-block">
                    <div class="service-inner">
                        <img src="images/fulll-team.jpg" alt="Services">
                        <div class="service-text">
                            <h4>EXECUTION</h4>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis soll icitudin neque, ve Class aptent taci </p>
                            <a href="#">read more</a>
                        </div>
                        <div class="service-top-btn">
                            <p class="top-btn">Best Service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio-->
<section id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 portfolio-base no-padding">
                <div class="main-heading col-sm-12 text-center">
                    <h2>OUR PROJECTS</h2>
                </div>
                <div id="mod-sp-simpleportfolio" class="sp-simpleportfolio sp-simpleportfolio-view-items layout-gallery-nospace ">
                    <div class="sp-simpleportfolio-filter">
                        <ul>
                            <li class="active" data-group="all"><a href="#">Show All</a></li>
                            <li data-group="design"><a href="#">Design Projects</a></li>
                            <li data-group="construction"><a href="#">construction Projects</a></li>
                            <li data-group="Completed"><a href="#">Completed Projects</a></li>
                        </ul>
                    </div>

                    <div class="sp-simpleportfolio-items sp-simpleportfolio-columns-4">

                        <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-1_600x400.jpg" alt="The roof top apartment">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">The roof top apartment</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-1_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["construction"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-8_600x400.jpg" alt="Roof top building">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#"> top building</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-8_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["complated"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-7_600x400.jpg" alt="House building">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">House building</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-7_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["design"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-1234_600x400.jpg" alt="The Great LondonProject">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">The Great LondonProject</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-1234_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["construction"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-4_600x400.jpg" alt="Organic Life project">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">Organic Life project</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-4_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["design"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-12345_600x400.jpg" alt="New York Project">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">New York Project</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work-12345_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sp-simpleportfolio-item" data-groups='["design"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work_600x400.jpg" alt="The big Project we have">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">The big Project we have</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sp-simpleportfolio-item" data-groups='["painting"]'>
                            <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                <img class="sp-simpleportfolio-img" src="images/work-1_600x400.jpg" alt="The big Project we have">
                                <div class="sp-simpleportfolio-overlay">
                                    <div class="sp-vertical-middle">
                                        <div>
                                            <h3 class="sp-simpleportfolio-title">
                                                <a href="#">The big Project we have</a>
                                            </h3>
                                            <div class="sp-simpleportfolio-btns">
                                                <a class="btn-zoom" href="images/work_600x400.jpg" data-featherlight="image"><i class="fa fa-search-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio -->

<!-- About us -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-base space">
                <div class="col-sm-12 col-md-4 about-block">
                    <img src="images/img1.jpg" alt="About">
                    <h5>ABOUT ESYA FACADE</h5>
                    <p>A group of Engineering professionals Into Building Construction Industry past 2 decades. Have understood the dynamics of the market. With a zeal to service the  growing façade market in India we Present to you ESYA FACADE</p>
                </div>
                <div class="col-sm-6 col-md-4 about-block">
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-4 about-icon no-padding">
                            <span class="icon-lightbulb"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>BRILLIANT IDEAS</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-3 about-icon no-padding">
                            <span class="icon-key"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>PROFESSINAL SPECIALISTS</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-4 about-icon no-padding">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>PLANNING</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 about-block">
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-4 about-icon no-padding">
                            <span class="icon-hotairballoon"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>REVULUTION</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-4 about-icon no-padding">
                            <span class=" icon-globe"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>WORLD WIDE BRANCH</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                    <div class="about-item col-sm-12 col-xs-12 no-padding">
                        <div class="col-sm-3 col-xs-4 about-icon no-padding">
                            <span class="icon-trophy"></span>
                        </div>
                        <div class="about-text col-sm-9 col-xs-8 no-padding">
                            <h6>SAFE WORK</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi scing elit. Integer adipiscing erat eg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end About us -->

<!-- Counter -->
<section id="counter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 counter-base space">
                <!-- Counter block 1 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">263</div>
                    <h4>Completed <span>Projects</span></h4>
                </div>
                <!-- Counter block 2 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">1124</div>
                    <h4>Total <span>Employess</span></h4>
                </div>
                <!-- Counter block 3 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">205</div>
                    <h4>Happy <span>Clients</span></h4>
                </div>
                <!-- Counter block 4 -->
                <div class="col-sm-3 counter-block text-center">
                    <div class="count">15</div>
                    <h4>Current <span>Projects</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end counter -->

<!-- Certifications -->
<section id="certification">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 certification space">
                <div class="main-heading text-center col-sm-12">
                    <h2>CERTIFICATION</h2>
                    <p>Embedded in our culture of hard work, honesty, and getting the well done job,</p>
                    <p>The products that we deal into are a result of many concurrent discussions, deliberations and debate amongst like minded people</p>
                </div>
                <div class="certi-base col-sm-12 no-padding">
                    <div class="col-sm-4 certi-block text-center">
                        <span class="icon-tools-2"></span>
                        <h4>SAFETY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                    <div class="col-sm-4 certi-block text-center">
                        <span class="icon-recycle"></span>
                        <h4>COMMUNITY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                    <div class="col-sm-4 certi-block text-center">
                        <span class="icon-circle-compass"></span>
                        <h4>SUSTANABILITY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                    <div class="col-sm-4 certi-block text-center">
                        <span class="icon-trophy"></span>
                        <h4>BEST QUALITY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                    <div class="col-sm-4 certi-block text-center">
                        <span class="icon-pencil"></span>
                        <h4>INTEGRITY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                    <div class="col-sm-4 certi-block text-center">
                        <span class=" icon-strategy"></span>
                        <h4>STRATEGY</h4>
                        <p>pork sirloi loine beefb andoe uillen uillen capicola swine a kevin mignon tritip picolakevin mignon tritip picola kevinsdertand filet mignon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Certifications -->

<!-- Start work -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 work space">
                <div class="col-sm-8 work-block">
                    <h3>Lets make your
                        <span>DREAM HOUSE</span>
                        with our best
                        <span>ENGINEERS</span></h3>
                    <p>
                        Embedded in our
                        <em> culture </em>
                        of hard
                        <em>work</em>
                        , honesty, and
                        <em>
                            getting the well done job
                        </em>
                    </p>
                </div>
                <div class="col-sm-4 work-block text-right">
        
                    <a href="#" class="btn" data-toggle="modal" data-target="#myModal">Get a Quote</a>
                    <a href="#" class="btn">call now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end work -->

<!-- Partner logo -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 partner space">
                <div class="main-heading text-center col-sm-12">
                    <h2>PRODUCTS AND COLLABORATIONS</h2>
                    <p>Embedded in our culture of hard work, honesty, and getting the well done job,</p>
                </div>
                <div class="col-sm-12 partner-base no-padding">
                    <ul>
                        <li class="col-sm-3">
                            <a href="#"><img src="images/partners.png" alt="Partners"></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><img src="images/partners-2.png" alt="Partners"></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><img src="images/partners-3.png" alt="Partners"></a>
                        </li>
                        <li class="col-sm-3">
                            <a href="#"><img src="images/partners-4.png" alt="Partners"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partner logo end -->



<!-- <div class="banner">
    <img src="images/banner.jpg" style="width:1263px; height:520px;">
</div>
<h1 ng-controller="MainCtrl">Mian html calling {{ firstname }}</h1>
<div class="pvw-title">Hello</div>
<style type="text/css">
	.pvw-title  {
  display: none;
}
.pvw-title:after {
  content: 'HMllo';
}
</style> -->

