<!-- Bread crumb-->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 breadcrumb-base no-padding">
                    <div class="col-sm-8 col-xs-4 page-heading">
                        <h4>Products</h4>
                    </div>
                    <div class="col-sm-4 col-xs-8 breadcrumb-block text-right">
                        <ol class="breadcrumb">
                            <li>You are here:
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">Products</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bread crumb end-->
    <!--Services-->

    

    <div class="sidebar-page-container ">
        <div class="container">
            <div class="row clearfix">
                
                <!--Content Side--> 
                <div class="content-side col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                    <!--News Section-->
                    <section class="products-section">                       
                        <div class="row clearfix">
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/product-1.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-1</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 35299</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/product-2.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                        <div class="item-sale-tag">Sale Of the Day</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-2</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 25625</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/product-3.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                        <div class="item-sale-tag">Sale</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-3</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 18255</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/products-4.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                        <div class="item-sale-tag">Sale</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-4</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 22555</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                             <div class="row clearfix">
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/products-5.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-5</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 18255</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/products-6.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                        <div class="item-sale-tag">Sale</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-6</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 45999</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <a href="shop-single.html"><img src="images/product-1.jpg" alt="" class="img-responsive"></a>
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="shop-single.html">View Details</a>
                                        </div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-7</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">Rs 24999</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="default-shop-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <!--inner-box-->
                                <div class="inner-box">
                                    <!--image-box-->
                                    <figure class="image-box">
                                        <img src="images/product-2.jpg" alt="" class="img-responsive">
                                        <div class="overlay-box">
                                            <a class="cart-btn" href="#">View Details</a>
                                        </div>
                                        <div class="item-sale-tag">Deal Of the Day</div>
                                    </figure>
                                    
                                    <!--lower-content-->
                                    <div class="lower-content">
                                        <h3><a href="shop-single.html">Product-8</a></h3>
                                        
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star-o"></span>
                                        </div>
                                        
                                        <div class="price">$ 29444</div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>