<!-- Bread crumb-->
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 breadcrumb-base no-padding">
                    <div class="col-sm-6 col-md-8 col-xs-4 page-heading">
                        <h4>Projects</h4>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xs-8 breadcrumb-block text-right">
                        <ol class="breadcrumb">
                            <li>You are here:
                                <a href="index.html">Home</a>
                            </li>
                            <li class="active">Projects</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bread crumb end-->
    <div class="clearfix"></div>
    <!-- Portfolio -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 portfolio-base no-padding">
                    <div id="sp-simpleportfolio" class="sp-simpleportfolio sp-simpleportfolio-view-items layout-gallery-space">
                        <div class="sp-simpleportfolio-filter">
                            <ul>
                                <li class="active" data-group="all"><a href="#">Show All</a></li>
                                <li data-group="builder"><a href="#">Design Projects</a></li>
                                <li data-group="electric"><a href="#">Current Projects</a></li>
                                <li data-group="painting"><a href="#">Complted Project</a></li>
                                <li data-group="hammer"><a href="#">Upcomming Projects</a></li>
                            </ul>
                        </div>
                        <div class="sp-simpleportfolio-items sp-simpleportfolio-columns-3">
                            <div class="sp-simpleportfolio-item" data-groups='["hammer"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-6_600x400.jpg" alt="Embedded in our culture">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-6_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> Embedded in our culture</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags"> Hammer </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-1_600x400.jpg" alt="The roof top apartment">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-1_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> The roof top apartment </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Builder</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-8_600x400.jpg" alt="Roof top building">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-8_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> Roof top building </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Builder</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["painting"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-7_600x400.jpg" alt="House building">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-7_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html">House building</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags"> painting </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["electric"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-1234_600x400.jpg" alt="The Great LondonProject">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-1234_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title"><a href="project-detail.html"> The Great LondonProject</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags"> Electric </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-4_600x400.jpg" alt="Organic Life project">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-4_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html">Organic Life project </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags"> Builder </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["electric"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-12345_600x400.jpg" alt="New York Project">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-12345_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> New York Project</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Electric </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["electric"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work_600x400.jpg" alt="The big Project we have">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html">The big Project we have </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Electric </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["hammer"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-10_600x400.jpg" alt="Water land project">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-10_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html">Water land project </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Hammer</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-3_600x400.jpg" alt="Single BUilder Project">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-3_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> Single BUilder Project </a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Builder </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["hammer"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-9_600x400.jpg" alt="Sanorita dream project">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-9_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html"> Sanorita dream project</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags">Hammer </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-simpleportfolio-item" data-groups='["builder"]'>
                                <div class="sp-simpleportfolio-overlay-wrapper clearfix">
                                    <img class="sp-simpleportfolio-img" src="images/work-5_600x400.jpg" alt="Lorem ispum project ">
                                    <div class="sp-simpleportfolio-overlay">
                                        <div class="sp-vertical-middle">
                                            <div>
                                                <div class="sp-simpleportfolio-btns">
                                                    <a class="btn-zoom" href="images/work-5_600x400.jpg" data-featherlight="image">Zoom</a>
                                                    <a class="btn-view" href="project-detail.html">View</a>
                                                </div>
                                                <h3 class="sp-simpleportfolio-title">
                                                <a href="project-detail.html">Lorem ispum project</a>
                                            </h3>
                                                <div class="sp-simpleportfolio-tags"> Builder</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio -->


   