
<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 breadcrumb-base no-padding">
                <div class="col-sm-8 col-xs-4 page-heading">
                    <h4>Bauster Products</h4>
                </div>
                <div class="col-sm-4 col-xs-8 breadcrumb-block text-right">
                    <ol class="breadcrumb">
                        <li>You are here:
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Bauster Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bread crumb end-->
<!--Services-->

<div id="main">
    <div id="sidebar">
        <div id="category-menu">
            <div class="menu">
                <ul>
                    <li>
                        <a href="#!/glass-railings/">Glass railings</a><ul>
                            <li><a href="#!/glass-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/glass-railings/cap-rails/">Cap rails</a></li>
                            <li><a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a></li>
                            <li><a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a></li>
                            <li><a href="#!/glass-railings/d-line/">d line</a></li>
                            <li><a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a></li>
                            <li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
                            <li><a href="#!/glass-railings/accessories/">Accessories</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!/baluster-railings/">Baluster Railings</a><ul>
                            <li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
                            <li><a href="#!/baluster-railings/easy-alu/">Easy Alu</a></li>
                            <li><a href="#!/baluster-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a></li>
                            <li><a href="#!/baluster-railings/d-line/">d line</a></li>
                            <li><a href="#!/baluster-railings/barrier-line/">Barrier Line</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#!/wall-railings/">Wall Railings</a><ul>
                            <li><a href="#!/wall-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/wall-railings/d-line/">d line</a></li>
                            <li><a href="#!/wall-railings/accessories/">Accessories</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="category-menu-mobile">
            <div class="title">
                Choose your system
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#!/glass-railings/">Glass railings</a><ul>
                            <li><a href="#!/glass-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/glass-railings/cap-rails/">Cap rails</a></li>
                            <li><a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a></li>
                            <li><a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a></li>
                            <li><a href="#!/glass-railings/d-line/">d line</a></li>
                            <li><a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a></li>
                            <li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
                            <li><a href="#!/glass-railings/accessories/">Accessories</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!/baluster-railings/">Baluster Railings</a><ul>
                            <li><a href="/#!/baluster-railings/baluster-posts/">Baluster posts</a></li>

                            <li><a href="#!/baluster-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a></li>
                            <li><a href="#!/baluster-railings/d-line/">d line</a></li>
                            <li><a href="#!/baluster-railings/barrier-line/">Barrier Line</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#!/wall-railings/">Wall Railings</a><ul>
                            <li><a href="#!/wall-railings/handrails/">Handrails</a></li>
                            <li><a href="#!/wall-railings/d-line/">d line</a></li>
                            <li><a href="#!/wall-railings/accessories/">Accessories</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
                <div class="categories">
                    <div class="category-heading" id="category-heading">
                        <h1>Wall Railings</h1>
                    </div>
                    <div class="flex clearfix">
<div class="category"><div class="wrapper">
<a href="#!/wall-railings/handrails/" title="Handrails"><div class="img-wrapper"><div class="img"><img src="img/3-1-handrails.jpg" alt="Handrails" title="Handrails"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Handrails</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/wall-railings/d-line/" title="d line"><div class="img-wrapper"><div class="img"><img src="img/3-2-d-line.jpg" alt="d line" title="d line"></div></div>
<div class="name-wrapper"><div class="name valign"><div>d line</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/wall-railings/accessories/" title="Accessories"><div class="img-wrapper"><div class="img"><img src="img/3-3-accessoires.jpg" alt="Accessories" title="Accessories"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Accessories</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
</div>
                </div>
              
            </div>

</div>