<div id="main">
<div id="sidebar">
<div id="category-menu">
<div class="menu">
<ul>
<li class="active">
<a href="#!/glass-railings/">Glass railings</a>
<ul>
<li>
<a href="#!/glass-railings/handrails/">Handrails</a>
</li>
<li class="active">
<a href="#!/glass-railings/cap-rails/">Cap rails</a>
</li>
<li>
<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
</li>
<li>
<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
</li>
<li>
<a href="#!/glass-railings/d-line/">d line</a>
</li>
<li>
<a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a>
</li>
<li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
<li><a href="#!/glass-railings/accessories/">Accessories</a></li>
</ul>
</li>
<li>
<a href="#!/baluster-railings/">Baluster Railings</a><ul>
<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
<li>
<a href="#!/baluster-railings/easy-alu/">Easy Alu</a>
</li>
<li>
<a href="#!/baluster-railings/handrails/">Handrails</a>
</li>
<li><a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
</li>
<li>
<a href="#!/baluster-railings/d-line/">d line</a>

</li>
<li>
<a href="#!/baluster-railings/barrier-line/">Barrier Line</a></li>
</ul>
</li>
<li>
<a href="#!/wall-railings/">Wall Railings</a>
<ul>
<li>
<a href="#!/wall-railings/handrails/">Handrails</a>
</li>
<li>
<a href="#!/wall-railings/d-line/">d line</a>
</li>
<li>
<a href="#!/wall-railings/accessories/">Accessories</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div id="category-menu-mobile">
<div class="title">
Choose your system
</div>
<div class="menu">
<ul>
<li class="sub_active">
<a href="#!/glass-railings/">Glass railings</a>
<ul>
<li>
<a href="#!/glass-railings/handrails/">Handrails</a>
</li>
<li class="active">
<a href="#!/glass-railings/cap-rails/">Cap rails</a>
</li>
<li>
<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
</li>
<li>
<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
</li>
<li><a href="#!/glass-railings/d-line/">d line</a></li>
<li><a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a></li>
<li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
<li><a href="#!/glass-railings/accessories/">Accessories</a></li>
</ul>
</li>
<li>
<a href="#!/baluster-railings/">Baluster Railings</a><ul>
<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
<li><a href="#!/baluster-railings/easy-alu/">Easy Alu</a></li>
<li>
<a href="#!/baluster-railings/handrails/">Handrails</a>
</li>
<li>

<a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
</li>
<li>
<a href="#!/baluster-railings/d-line/">d line</a>
</li>
<li>
<a href="#!/baluster-railings/barrier-line/">Barrier Line</a>
</li>
</ul>
</li>
<li>
<a href="#!/wall-railings/">Wall Railings</a><ul>
<li>
<a href="#!/wall-railings/handrails/">Handrails</a>
</li>
<li>
<a href="#!/wall-railings/d-line/">d line</a>
</li>
<li>
<a href="#!/wall-railings/accessories/">Accessories</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>
<div id="content">
<div class="categories">
<div class="category-heading" id="category-heading">
<h1>Cap rails</h1>
</div>
<div class="flex clearfix">
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/cap-rails/" title="Cap rails">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-1-cap-rails.jpg" alt="Cap rails" title="Cap rails">
		</div>
	</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>Cap rails</div>
	</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/fittings/" title="Fittings">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-2-fittings.jpg" alt="Fittings" title="Fittings"></div>
		</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>Fittings</div>
	</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/end-caps/" title="End caps">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-3-end-caps.jpg" alt="End caps" title="End caps">
		</div>
		</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>End caps</div>
	</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/wall-flanges/" title="Wall flanges">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-4-wall-flanges.jpg" alt="Wall flanges" title="Wall flanges">
		</div>
		</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>Wall flanges</div>
	</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/lights/" title="Lights">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/linear-light-for-cap-rail.jpg" alt="Lights" title="Lights">
		</div>
	</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>Lights</div>
	</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/cap-rail-u-profile-rubbers/" title="Cap rail/U-profile rubbers">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-6-cap-rail-and-u-profile-rubber.jpg" alt="Cap rail/U-profile rubbers" title="Cap rail/U-profile rubbers">
		</div>
	</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>Cap rail/U-profile rubbers</div>
	</div>
</div>
<div class="extra">
	<div class="button">
	<span>Details</span>
</div>
</div>
</a>
<div class="bg"></div>
</div></div>
<div class="category">
	<div class="wrapper">
<a href="#!/glass-railings/cap-rails/u-profiles-and-edge-protection/" title="U-profiles and edge protection">
	<div class="img-wrapper">
		<div class="img">
			<img src="img/1-2-5-u-profiles.jpg" alt="U-profiles and edge protection" title="U-profiles and edge protection">
		</div>
		</div>
<div class="name-wrapper">
	<div class="name valign">
		<div>U-profiles and edge protection</div>
</div>
</div>
<div class="extra">
	<div class="button">
		<span>Details</span>
	</div>
</div>
</a>
<div class="bg"></div>
</div>
</div>
</div>
</div>

</div>
</div>