<div id="main">
	<div id="sidebar">
		<div id="category-menu">
			<div class="menu">
				<ul>
					<li class="active">
						<a href="#!/glass-railings/">Glass railings</a>
						<ul>
							<li>
								<a href="#!/glass-railings/handrails/">Handrails</a>
							</li>
							<li>
								<a href="#!/glass-railings/cap-rails/">Cap rails</a>
							</li>
							<li>
								<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
							</li>
							<li >
								<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
							</li>
							<li>
								<a href="#!/glass-railings/d-line/">d line</a>
							</li>
							<li class="active">
								<a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a>
							</li>
							<li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
							<li><a href="#!/glass-railings/accessories/">Accessories</a></li>
						</ul>
					</li>
					<li>
						<a href="#!/baluster-railings/">Baluster Railings</a><ul>
							<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
							<li>
								<a href="#!/baluster-railings/easy-alu/">Easy Alu</a>
							</li>
							<li>
								<a href="#!/baluster-railings/handrails/">Handrails</a>
							</li>
							<li><a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
							</li>
							<li>
								<a href="#!/baluster-railings/d-line/">d line</a>

							</li>
							<li>
								<a href="#!/baluster-railings/barrier-line/">Barrier Line</a></li>
							</ul>
						</li>
						<li>
							<a href="#!/wall-railings/">Wall Railings</a>
							<ul>
								<li>
									<a href="#!/wall-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/wall-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/wall-railings/accessories/">Accessories</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="category-menu-mobile">
				<div class="title">
					Choose your system
				</div>
				<div class="menu">
					<ul>
						<li class="sub_active">
							<a href="#!/glass-railings/">Glass railings</a>
							<ul>
								<li>
									<a href="#!/glass-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/glass-railings/cap-rails/">Cap rails</a>
								</li>
								<li>
									<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
								</li>
								<li>
									<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
								</li>
								<li>
									<a href="#!/glass-railings/d-line/">d line</a></li>
								<li class="active">
									<a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a>
								</li>
								<li>
									<a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a>
								</li>
								<li>
									<a href="#!/glass-railings/accessories/">Accessories</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#!/baluster-railings/">Baluster Railings</a><ul>
								<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
								<li><a href="#!/baluster-railings/easy-alu/">Easy Alu</a></li>
								<li>
									<a href="#!/baluster-railings/handrails/">Handrails</a>
								</li>
								<li>

									<a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
								</li>
								<li>
									<a href="#!/baluster-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/baluster-railings/barrier-line/">Barrier Line</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#!/wall-railings/">Wall Railings</a><ul>
								<li>
									<a href="#!/wall-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/wall-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/wall-railings/accessories/">Accessories</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="categories">
				<div class="category-heading" id="category-heading">
					<h1>Easy Glass Hybrid</h1>
				</div>
				<div class="flex clearfix">
					<div class="category">
						<div class="wrapper">
							<a href="#!/glass-railings/easy-glass-hybrid/baluster-posts/" title="Baluster posts">
								<div class="img-wrapper">
									<div class="img">
										<img src="img/1-7-1-hybrid-baluster.jpg" alt="Baluster posts" title="Baluster posts">
									</div>
								</div>
								<div class="name-wrapper">
									<div class="name valign">
										<div>Baluster posts</div>
									</div>
								</div>
								<div class="extra">
									<div class="button">
										<span>Details</span>
									</div>
								</div>
							</a>
							<div class="bg"></div>
						</div>
					</div>
					<div class="category">
						<div class="wrapper">
							<a href="#!/glass-railings/easy-glass-hybrid/base-shoes/" title="Base shoes"><div class="img-wrapper">
								<div class="img">
									<img src="img/1-7-2-hybrid-baseshoe.jpg" alt="Base shoes" title="Base shoes">
								</div>
							</div>
							<div class="name-wrapper">
								<div class="name valign">
									<div>Base shoes</div>
								</div>
							</div>
							<div class="extra">
								<div class="button">
									<span>Details</span>
								</div>
							</div>
						</a>
						<div class="bg"></div>
					</div>
				</div>
				<div class="category">
					<div class="wrapper">
						<a href="#!/glass-railings/easy-glass-hybrid/cap-rails/" title="Cap rails"><div class="img-wrapper">
							<div class="img">
								<img src="img/1-7-5-hybrid-caprail.jpg" alt="Cap rails" title="Cap rails">
							</div>
						</div>
						<div class="name-wrapper">
							<div class="name valign">
								<div>Cap rails</div>
							</div>
						</div>
						<div class="extra">
							<div class="button">
								<span>Details</span>
							</div>
						</div>
					</a>
					<div class="bg"></div>
				</div>
			</div>
		</div>
	</div>
		
</div>
</div>