<div id="main">
	<div id="sidebar">
		<div id="category-menu">
			<div class="menu">
				<ul>
					<li class="active">
						<a href="#!/glass-railings/">Glass railings</a>
						<ul>
							<li>
								<a href="#!/glass-railings/handrails/">Handrails</a>
							</li>
							<li>
								<a href="#!/glass-railings/cap-rails/">Cap rails</a>
							</li>
							<li>
								<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
							</li>
							<li class="active">
								<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
							</li>
							<li>
								<a href="#!/glass-railings/d-line/">d line</a>
							</li>
							<li>
								<a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a>
							</li>
							<li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
							<li><a href="#!/glass-railings/accessories/">Accessories</a></li>
						</ul>
					</li>
					<li>
						<a href="#!/baluster-railings/">Baluster Railings</a><ul>
							<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
							<li>
								<a href="#!/baluster-railings/easy-alu/">Easy Alu</a>
							</li>
							<li>
								<a href="#!/baluster-railings/handrails/">Handrails</a>
							</li>
							<li><a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
							</li>
							<li>
								<a href="#!/baluster-railings/d-line/">d line</a>

							</li>
							<li>
								<a href="#!/baluster-railings/barrier-line/">Barrier Line</a></li>
							</ul>
						</li>
						<li>
							<a href="#!/wall-railings/">Wall Railings</a>
							<ul>
								<li>
									<a href="#!/wall-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/wall-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/wall-railings/accessories/">Accessories</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="category-menu-mobile">
				<div class="title">
					Choose your system
				</div>
				<div class="menu">
					<ul>
						<li class="sub_active">
							<a href="#!/glass-railings/">Glass railings</a>
							<ul>
								<li>
									<a href="#!/glass-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/glass-railings/cap-rails/">Cap rails</a>
								</li>
								<li>
									<a href="#!/glass-railings/glass-panels-and-connectors/">Glass panels and connectors</a>
								</li>
								<li class="active">
									<a href="#!/glass-railings/glass-railing-bases/">Glass railing bases</a>
								</li>
								<li><a href="#!/glass-railings/d-line/">d line</a></li>
								<li><a href="#!/glass-railings/easy-glass-hybrid/">Easy Glass Hybrid</a></li>
								<li><a href="#!/glass-railings/juliet-balcony/">Juliet balcony</a></li>
								<li><a href="#!/glass-railings/accessories/">Accessories</a></li>
							</ul>
						</li>
						<li>
							<a href="#!/baluster-railings/">Baluster Railings</a><ul>
								<li><a href="#!/baluster-railings/baluster-posts/">Baluster posts</a></li>
								<li>
									<a href="#!/baluster-railings/easy-alu/">Easy Alu</a></li>
								<li>
									<a href="#!/baluster-railings/handrails/">Handrails</a>
								</li>
								<li>

									<a href="#!/baluster-railings/infills-and-connectors/">Infills and connectors</a>
								</li>
								<li>
									<a href="#!/baluster-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/baluster-railings/barrier-line/">Barrier Line</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#!/wall-railings/">Wall Railings</a><ul>
								<li>
									<a href="#!/wall-railings/handrails/">Handrails</a>
								</li>
								<li>
									<a href="#!/wall-railings/d-line/">d line</a>
								</li>
								<li>
									<a href="#!/wall-railings/accessories/">Accessories</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
<div id="content">
				<div class="categories">
					<div class="category-heading" id="category-heading">
						<h1>Glass railing bases</h1>
					</div>
					<div class="flex clearfix">
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/base-shoes/" title="Base shoes"><div class="img-wrapper"><div class="img"><img src="img/1-4-1-1-base-shoes.jpg" alt="Base shoes" title="Base shoes"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Base shoes</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/trims/" title="Trims"><div class="img-wrapper"><div class="img"><img src="img/trims-cagegory.jpg" alt="Trims" title="Trims"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Trims</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/connectors/" title="Connectors"><div class="img-wrapper"><div class="img"><img src="img/corner-pieces.jpg" alt="Connectors" title="Connectors"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Connectors</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/rubber-set/" title="Rubber set"><div class="img-wrapper"><div class="img"><img src="img/1-4-1-4-rubberset.jpg" alt="Rubber set" title="Rubber set"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Rubber set</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/cladding-panels/" title="Cladding panels"><div class="img-wrapper"><div class="img"><img src="img/1-4-1-2-cladding-panels.jpg" alt="Cladding panels" title="Cladding panels"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Cladding panels</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/base-shoe-end-caps/" title="Base shoe end caps"><div class="img-wrapper"><div class="img"><img src="img/1-4-1-3-base-shoe-end-caps.jpg" alt="Base shoe end caps" title="Base shoe end caps"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Base shoe end caps</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/drainage-profiles/" title="Drainage profiles"><div class="img-wrapper"><div class="img"><img src="img/1-7-2-drainage-profiles.jpg" alt="Drainage profiles" title="Drainage profiles"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Drainage profiles</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/mounting-plates/" title="Mounting plates"><div class="img-wrapper"><div class="img"><img src="img/mounting-plates.jpg" alt="Mounting plates" title="Mounting plates"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Mounting plates</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/lights/" title="Lights"><div class="img-wrapper"><div class="img"><img src="img/linear-light-for-cladding.jpg" alt="Lights" title="Lights"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Lights</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/glass-railing-clamps/" title="Glass railing clamps"><div class="img-wrapper"><div class="img"><img src="img/1-4-2-1-glass-railing-clamps.jpg" alt="Glass railing clamps" title="Glass railing clamps"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Glass railing clamps</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
<div class="category"><div class="wrapper">
<a href="#!/glass-railings/glass-railing-bases/glass-railing-adapter/" title="Glass railing adapter"><div class="img-wrapper"><div class="img"><img src="img/1-4-2-2-glass-railing-adapters.jpg" alt="Glass railing adapter" title="Glass railing adapter"></div></div>
<div class="name-wrapper"><div class="name valign"><div>Glass railing adapter</div></div></div>
<div class="extra"><div class="button"><span>Details</span></div></div></a><div class="bg"></div>
</div></div>
</div>
				</div>
					
			</div>
	</div>